# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
./node_modules
npm-debug.log
yarn-error.log

# Angular specific ignores
node_modules/
dist/
*.lock
/coverage
.angular/cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vs/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# OS and IDE specific ignores
.DS_Store
*.swp
*.log
.vscode/
.idea/

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/reports
/src/translations/template.*
# /src/environments/.env.*

# .NET-specific ignores
*.csproj.user
*.sln.docstates
*.suo
*.user
*.vspscc
_ReSharper*/
[Bb]in
[Oo]bj
**/[Bb]in
**/[Oo]bj
*.exe
*.dll
*.pdb
*.idb
*.resources
TestResults
packages
*.nupkg
*.cache
*.log

# General ignores
.idea/
.vs/
*.DS_Store
/testgitoperations.client/.angular/cache/19.2.10
